.save-button {
  background-color: green;
}

.add-fav-btn {
  background-color: #10b981;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background 0.2s;
}

.add-fav-btn:hover {
  background-color: #059669;
}

.add-favorite-company-btn {
  background-color: #1e293b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background 0.2s;
}

.admin-remove-btn {
  background-color: #dc2626; /* Deep Red */
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}

.admin-remove-btn:hover {
  background-color: #b91c1c;
}
